<header id="header">

	<div id="logo-group"><span id="logo"> <%= image_tag('logo-admin.png', alt: '千帆渡') %></span></div>

	<span id="extr-page-header-space" style="display:none;"> <span class="hidden-mobile">需要一个账号?</span> <%= link_to '注册账号', new_user_registration_path, target: '_blank', class: 'btn btn-danger' %>  </span>

</header>

<div id="main" role="main">

	<!-- MAIN CONTENT -->
	<div id="content" class="container">

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
				<h1 class="txt-color-red login-header-big">
          <img src='/assets/logo.jpg' />
          芒果在线办公系统
        </h1>
				<div class="hero">

					<div class="pull-left login-desc-box-l">
						<h4 class="paragraph-header">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;成都芒果网络科技股份有限公司成立于2011年，总部设立于北京，专注于协同管理软件领域！芒果是"国家规划布局内重点软件企业"，是协同管理软件领域唯一一家国家重点软件企业。2013年芒果作为协同管理领域的领导企业入选福布斯中国潜力非上市公司100强，并以近3年高增长优势位居第10名席位。多年来，芒果以专注、专业的态度，以强大的产品研发能力、本地化能力、咨询能力，成功服务于全国上万家企事业单位客户。 <strong></strong></h4>
						<div class="login-app-icons">
							<!--<%= link_to '查看主页', '/', class: 'btn btn-danger btn-sm' %>-->
						</div>
					</div>

				</div>

			</div>
			<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
				<div class="well no-padding">
					<%= form_for @user, url: manage_sessions_path, html: { class: 'smart-form client-form'} do |f| %>
						<header>
							OA 后台登录
						</header>

						<fieldset>

							<section>
								<%= f.label :name, class: 'label'  %>
								<label class="input">
									<i class="icon-append fa fa-user"></i>
									<%= f.text_field :name, placeholder: '输入用户名' %>
									<b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> 请输入用户名 </b></label>
							</section>

							<section>
								<%= f.label :password, class: 'label'  %>
								<label class="input"> <i class="icon-append fa fa-lock"></i>
									<%=f.password_field :password %>
									<b class="tooltip tooltip-top-right">
										<i class="fa fa-lock txt-color-teal"></i> 请输入密码 </b> </label>
								<div class="note">
									<a href="forgotpassword.html">忘记密码?</a>
								</div>
							</section>

							<section>
								<label class="checkbox">
									<input type="checkbox" name="remember" checked="">
									<i></i>记住密码</label>
							</section>
						</fieldset>
						<footer>
							<button type="submit" class="btn btn-primary">
								登录
							</button>
						</footer>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>

<script type="text/javascript">
	runAllForms();

	$(function() {
		// Validation
		$("#new_user").validate({
			// Rules for form validation
			rules : {
				email : {
					required : true,
					email : true
				},
				password : {
					required : true,
					minlength : 3,
					maxlength : 20
				}
			},

			// Messages for form validation
			messages : {
				email : {
					required : '请输入邮箱地址',
					email : '请输入正确邮箱'
				},
				password : {
					required : '请输入密码'
				}
			},

			// Do not change code below
			errorPlacement : function(error, element) {
				error.insertAfter(element.parent());
			}
		});
	});
</script>
