<div class="jarviswidget jarviswidget-color-blue" id="wid-id-4" data-widget-editbutton="false" data-widget-colorbutton="false">
	<header>
		<span class="widget-icon"> <i class="fa fa-check txt-color-white"></i> </span>
		<h2> 待办事宜 &nbsp;&nbsp; <%= link_to '添加', new_manage_office_human_todo_path, class: 'btn btn-xs btn-warning' %></h2>
	</header>

	<div>
		<div class="widget-body no-padding smart-form">
			<% @todos.where(published: false).group_by(&:genre).each do |key, todos| %>
			<h5 class="todo-group-title">
				<i class="fa fa-warning"></i> <%= Office::Human::Todo::GENRE.invert[key] %> 事件
				(<small class="num-of-tasks"><%= todos.count %></small>)
			</h5>
			<ul id="sortable1" class="todo">
				<% todos.each do |todo| %>
				<li>
					<span class="handle">
						<label class="checkbox">
							<input type="checkbox" name="checkbox-inline" value="<%= todo.id %>"><i></i>
						</label>
					</span>
					<p>
						<strong>Ticket #<%= todo.id %></strong>
						- <%= todo.title %> [<%= link_to '查看详情', manage_office_human_todo_path(todo) %>]
						<span class="text-muted"><%= raw todo.description %></span>
						<span class="date"><%= todo.created_at.to_date %></span>
					</p>
				</li>
				<% end %>
			</ul>
			<% end %>
			<% complete_todos = @todos.where(published: true) %>
			<h5 class="todo-group-title"><i class="fa fa-check"></i> 完成 Tasks
				(<small class="num-of-tasks"><%= complete_todos.count %></small>)
			</h5>
			<ul id="sortable3" class="todo">
				<% complete_todos.limit(3).each do |todo| %>
				<li class="complete">
					<span class="handle">
						<label class="checkbox state-disabled" style="display:none">
							<input type="checkbox" name="checkbox-inline" checked="checked" disabled="disabled">
							<i></i>
						</label>
					</span>
					<p>
						<strong>Ticket #<%= todo.id %></strong>
						- <%= todo.title %> [<%= link_to '查看详情', manage_office_human_todo_path(todo) %>]
						<span class="text-muted"><%= raw todo.description %></span>
						<span class="date"><%= todo.created_at.to_date %></span>
					</p>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
