<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> <%= @daily.tries(:creator, :name)%> 日报  时间: <%= @daily.created_at %></h1>
		<h2> 今天任务 </h2>
    <p><%= @daily.task %> </p>
    <h2> 工作总结</h2>
		<p><%= @daily.summary %> </p>
		<h2> 遇到的问题 </h2>
		<p><%= @daily.issue %> </p>
		<% if @daily.path.present? %>
			<%= link_to '附件详情', 'http://www.qianfandu.com/manage/office/human/dailies', title: '登陆后台'%>
		<% end %>
  </body>
</html>
