<!DOCTYPE HTML>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title> 芒果办公系统后台管理中心 </title>
	<meta name="description" content="">
	<meta name="author" content="">
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag "manage/application", media: "all" %>
</head>

<body class="desktop-detected smart-style-2">
<header id="header">
	<div id="logo-group">

	<!--图标栏logo-->
		<span id="logo"> <%= image_tag('logo.png', alt: '芒果办公系统') %> </span>
	
		<!-- END AJAX-DROPDOWN -->
	</div>
 
	<!-- end projects dropdown -->


	<!-- pulled right: nav area -->
	<div class="pull-right">
		<!-- collapse menu button -->
		<div id="hide-menu" class="btn-header pull-right">
			<span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
		</div>
		<!-- end collapse menu -->

		<!-- logout button -->
		<div id="logout" class="btn-header transparent pull-right">
					<span>
						<%= link_to manage_session_path(@current_user), method: :delete, data: { confirm: t(:confirm)} do %>
						<i class="fa fa-sign-out"></i>
						<% end %>
					</span>
		</div>
		<!-- end logout button -->
		
	</div>
	<!-- end pulled right: nav area -->

</header>
<!-- END HEADER -->

<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

	<!-- User info -->
	<div class="login-info">
				<span> <!-- User image size is adjusted inside CSS, it should stay as it -->

					<a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
						<%= image_tag('', alt: '', class: 'online') %>
						<span>
							<%= @current_user.name %>
						</span>
						<i class="fa fa-angle-down"></i>
					</a>

				</span>
	</div>
	<!-- end user info -->
	<%=  render 'layouts/manage/partials/nav' %>

</aside>
<!-- END NAVIGATION -->

<!-- MAIN PANEL -->
<div id="main" role="main">

	<!-- RIBBON -->
	<div id="ribbon">

				<span class="ribbon-button-alignment">
					<span id="refresh" class="btn btn-ribbon">
						<a href=""><i class="fa fa-refresh"></i></a>
					</span>
				</span>

		<ol class="breadcrumb">
			<li><%= link_to '后台主页', '/manage/', title: '后台主页'%></li>
			<% if @model %>
				<li> <%= model.model_name.human %></li>
			<% end %>
		</ol>
	</div>
	<!-- END RIBBON -->
	


	<!-- MAIN CONTENT -->
	<div id="content">
		<%= yield %>
	</div>
	<!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<!-- PAGE FOOTER -->
<div class="page-footer"><!--smartadmin-skins.min.css-->
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<span class="txt-color-white">  芒果在线办公系统 © 2015-2016</span>
		</div>
	</div>
</div>
<!-- END PAGE FOOTER -->

	<%= javascript_include_tag "manage/application" %>


	
<!--信息提示框-->
	<% if flash[:success] %>
		<div class="qfd-alert qfd-note qfd-note-warning">
			<div class="qfd-alert-image qfd-note-icon">
				<i class="fa fa-exclamation"></i>
			</div>
			<div class="qfd-alert-body qfd-note-text"><%= flash[:success] %></div>
			<a href="#" class="qfd-note-close"><i class="fa fa-times"></i></a>
		</div>
	<% end %>

	<% if flash[:errors] %>
		<div class="qfd-alert qfd-note qfd-note-error">
			<div class="qfd-alert-image qfd-note-icon">
				<i class="fa fa-times"></i>
			</div>
			<div class="qfd-alert-body qfd-note-text"><%= flash[:errors] %></div>
			<a href="#" class="qfd-note-close"><i class="fa fa-times"></i></a>
		</div>
	<% end %>

	<% if flash[:notice] %>
		<div class="qfd-alert qfd-note qfd-note-info">
			<div class="qfd-alert-image qfd-note-icon">
				<i class="fa fa-info"></i>
			</div>
			<div class="qfd-alert-body qfd-note-text">
				<div class="qfd-alert-body qfd-note-text"><%= flash[:notice] %></div>
			</div>
			<a href="#" class="qfd-note-close"><i class="fa fa-times"></i></a>
		</div>
	<% end %>
<!--信息提示框-->
<script type="text/javascript">
	$(".qfd-note-close").click(function(){
		$(this).parent().fadeOut(500, function(){
			$(this).remove();
		});
	});
</script>
</body>

</html>
