<article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable">

<!-- new widget -->
	<div role="widget" class="jarviswidget jarviswidget-color-blue jarviswidget-sortable" id="wid-id-4" data-widget-editbutton="false" data-widget-colorbutton="false">

<!--图标栏css所在位置：smartadmin-skins.min.css-->

		<header role="heading">
			<div role="menu" class="jarviswidget-ctrls">   
				<a data-original-title="Collapse" href="javascript:void(0);" class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="" data-placement="bottom">
					<i class="fa fa-minus "></i>
				</a> 
				<a data-original-title="Fullscreen" href="javascript:void(0);" class="button-icon jarviswidget-fullscreen-btn" rel="tooltip" title="" data-placement="bottom">
					<i class="fa fa-expand "></i>
				</a> 
				<a data-original-title="Delete" href="javascript:void(0);" class="button-icon jarviswidget-delete-btn" rel="tooltip" title="" data-placement="bottom">
					<i class="fa fa-times"></i>
				</a>
			</div>
			<span class="widget-icon"> <i class="fa fa-check txt-color-white"></i> </span>
			<h2> 公告列表</h2> 
			<!-- <div class="widget-toolbar">
			add: non-hidden - to disable auto hide

			</div>-->
		<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

		<!-- widget div-->
		<div role="content">
			<!-- widget edit box -->
			<div class="jarviswidget-editbox"><!--smartAdmin-production.min.css-->
				<div>
					<label>Title:</label>
					<input type="text">
				</div>
			</div>
			<!-- end widget edit box -->

			<div class="widget-body no-padding smart-form">
				<!-- content goes here -->
				<h5 class="todo-group-title">公告记录 (<small class="num-of-tasks">  332</small>)</h5>
				<ul id="sortable1" class="todo ui-sortable">

					
					<% @posts.active.each do |post| %><!--从后台调用有效的公告-->
						<li>
							<span class="handle"> <label class="checkbox">
									<input name="checkbox-inline" type="checkbox">
									<i></i> </label> </span>
							<p>
								<!--<%= post.title %> -->
								<strong> <%= post.title %> </strong>
								 <%= post.content.to_s.truncate(20) %> [<%= link_to '详情', manage_post_path(post)  %>]
								 <span class="text-muted">  </span>
								<span class="date"> <%= datetime_tag post.published_at%></span>
							</p>
						</li>
					<% end %>
				</ul>

			</div>
		</div>
		<!-- end widget div -->
	</div>
	<!-- end widget -->

</article>