<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= content_for?(:title) ? yield(:title) : "芒果在线办公系统" %></title>
    <%= csrf_meta_tags %>
    <!-- Bootstrap -->
		<%= stylesheet_link_tag "application", :media => "all" %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
		<div class="ui">
			<div class="container">
				<div class="row">
					
				  <div class="col-md-5 col-md-offset-4">
						<div class="alert alert-warning alert-dismissible" role="alert">
						  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						  <strong>Warning!</strong> Better check yourself, you're not looking too good.
						</div>
				    <%= yield %>
				  </div>
				</div>
      </div>
		</div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
