<div class="location-container">
	<div class="location">
		<ul class="pull-left">
			<li>
				<i class="fa fa-map-marker"></i> 所属城市：
				<%= link_to '成都', '/cd', class: 'location_city' %>
				<%= link_to '北京', '/' %>
				<%= link_to '上海', '/' %>
				<%= link_to '广州', '/' %>
				<%= link_to '石家庄', '/' %>
				<%= link_to '青岛', '/' %>
			</li>
		</ul>
		<ul class="pull-right">
			<li>成都站咨询热线: 028-65279397 <%= link_to '意见反馈','javascript:void(0);', class: 'top-feedback' %></li>
		</ul>
	</div>
</div>

<div class="header clearfix">
	<%= link_to '', '/', title: "千帆渡留学咨询网", class:'logo pull-left' %>
	<div class="search_cont pull-left">
		<!--<fieldset class="fieldset_form">-->
			<!--<%#= form_tag searches_path, method: :get do %>-->
				<!--<%#= hidden_field_tag :flag, "#{params[:flag].presence||yield(:flag).presence||'read/news'}" %>-->
				<!--<div class="header_select">-->
					<!--<a href="javascript:void(0)" class="header_select_sort">-->
						<!--<em>-->
							<!--<%#= Search::ENGINES.select{|engine| engine[:name].to_s == (params[:flag]||yield(:flag).presence||'read/news') }[0].try(:[], :chinese) || '资讯' %>-->
						<!--</em>-->
						<!--<i class="fa fa-caret-down"></i>-->
					<!--</a>-->
					<!--<ul>-->
						<!--<# Search::ENGINES.each do |record| %>-->
							<!--<li><%#= link_to record[:chinese] , "javascript:void(0)", "data-chinese"=> record[:chinese], 'data-name'=> record[:name] %></li>-->
						<!--<%#end %>-->
					<!--</ul>-->
				<!--</div>-->
				<!--&lt;!&ndash;<div class="newselect">&ndash;&gt;-->
					<!--&lt;!&ndash;<%#= select_tag :flag, options_for_select(Search::ENGINES.map{|record| [record[:chinese], record[:name] ]}, params[:flag]||yield(:flag)) %>&ndash;&gt;-->
				<!--&lt;!&ndash;</div>&ndash;&gt;-->
				<!--<%#= text_field_tag :keyword, params[:keyword], placeholder: '搜索一下,你就知道', 'data-limit' => '10', 'data-trim' => 50 %>-->
				<!--<%#= button_tag '搜索', name: nil %>-->
			<!--<%# end %>-->
			<!--<div id="result" class="result hide">-->
				<!--<ul></ul>-->
			<!--</div>-->
		<!--</fieldset>-->
	</div>
	<div class="adv-logo pull-right">
		<%= link_to image_tag('adv-ifeng.jpg'), tutors_path %>
	</div>
	<div class="clearfix"></div>
	<nav class="main-nav clearfix">
		<ul>
			<li class="<%= 'current' if request.path == '/' %>"><%= link_to '首页' , '/' %><b></b></li>
			<li class="<%= 'current' if controller_name == 'news' %>"><%= link_to raw('留学资讯<i class="fa fa-caret-down"></i>'), news_index_path, title:'留学资讯', class: 'dropdown' %>
				<div class="dropdown-sub clearfix">
					<div class="sec clearfix">
						<% Read::Category.active.news_categories.each do |category| %>
							<%= link_to category.title, list_news_index_path(category_id: category.id), class: 'title' %>
						<% end %>
					</div>
				</div>
				<b></b>
			</li>
			<li class="<%= 'current' if controller_name == 'guides' %>"><%= link_to raw('留学指导<i class="fa fa-caret-down"></i>'), guides_path, title: '留学指导' %>
				<div class="dropdown-sub clearfix" style="width:270px;">
					<div class="sec clearfix">
						<% Read::Category.active.article_categories.each do |category| %>
							<%= link_to category.title, list_guides_path(category_id: category.id), class: 'title' %>
						<% end %>
					</div>
				</div>
				<b></b>
			</li>
			<li class="<%= 'current' if controller_name == 'questions' %>"><%= link_to raw('留学问答<i class="fa fa-caret-down"></i>') , questions_path, title: '留学问答' %>
				<div class="dropdown-sub clearfix">
					<div class="sec clearfix">
						<% Read::Category.active_question.each do |cate| %>
							<%= link_to cate.title, "/questions/list/#{cate.id}" %>
						<% end %>
					</div>
				</div>
				<b></b>
			</li>
			<li class="<%= 'current' if controller_name == 'tutors' %>"><%= link_to raw('免费留学规划<span></span>') ,tutors_path, title: '免费留学规划' %><b></b></li>
			<li class="<%= 'current' if controller_name == 'cases' %>"><%= link_to '成功案例' , cases_path, title: '留学案例' %><b></b></li>
			<li class="<%= 'current' if controller_name == 'newspapers' %>"><%= link_to '中国中学生报专版' , newspapers_path, title: '中国中学生报专版' %><b></b></li>
			<li class="<%= 'current' if controller_name == 'phoenixes' %>"><%= link_to '凤凰教育专区' , phoenixes_path, title: '凤凰教育专区' %></li>
		</ul>
	</nav>
</div>
