<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title><%= content_for?(:title) ? yield(:title) : (SEO["#{controller_name}_#{action_name}_title"]||SEO['title'])  %></title>
<meta name="keywords" content="<%= content_for?(:keywords) ? yield(:keywords) : (SEO["#{controller_name}_#{action_name}_keywords"]||SEO['keywords']) %>">
<meta name="description" content="<%= content_for?(:description) ? yield(:description) : (SEO["#{controller_name}_#{action_name}_description"]||SEO['description']) %>">
<link rel="icon" href="<%= image_path 'favicon.ico' %>" type="image/x-icon" />
<link rel="shortcut icon" href="<%= image_path 'favicon.ico' %>" type="image/x-icon" />
<link rel="apple-touch-icon-precomposed" href="<%= image_path 'favicon.png' %>" />