<!DOCTYPE HTML>
<html lang="en" class="no-js">
<head>
	<%= render 'layouts/seo_meta_icon' %>
	<%= stylesheet_link_tag "application", media: "all" %>
	<%= yield(:style) if content_for?(:style) %>
	<%= javascript_include_tag "application" %>
	<%= yield(:script) if content_for?(:script) %>
	<%= csrf_meta_tags %>
	<%= yield(:head) if content_for?(:head) %>
</head>
	<body>
		<!--[if lt IE 9]><div id="IEtest"></div><![endif]-->
		<header id="header"><%= render 'layouts/cd/header' %></header>
		<%= yield %>
		<footer id="footer"><%= render 'layouts/cd/footer' %></footer>
		
		<%= render 'layouts/google' %>
		<%= render 'layouts/feedback' %>
	</body>
</html>
